@import url(variables.css);


.title_wrap{
    padding: 0vh 6vw;
}
main{
    padding: 0vh 6vw;
    color: var(--main-font-color);
    font-family: var(--main-font-family);
}
#about_video{
    width: 100%;
}
.introduce{
    line-height: 1.5;
    padding-bottom: 5vh;
}
.introduce > li:first-child{
    font-size: 2rem;
    line-height: 2.5;
}


@media screen and (min-width: 720px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw;
        align-items: top;
    }
    .introduce{
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
   
}